body {
    font-family: "Open Sans", sans-serif;
    background-color: hsl(257, 40%, 49%);

}

.image .image-desktop img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

.image .logo img {
    width: 150px;
    margin-top: 40px;
    position: relative;
}

.info {
    position: relative;
    margin-top: 100px;
    margin-right: 60px;
}

section .illustration img {
    position: relative;
    height: 400px;
    margin-left: 30px;
    margin-top: 50px;
}

section .info .titulo {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

section .info p {
    color: #fff;
    font-size: 13px;
    margin-bottom: 30px;
}

section .info a {
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border-radius: 20px;
    text-decoration: none;
}

section {
    display: flex;
    gap: 40px;
}

.footer .social a img {
    background-color: #fff;
    width: 30px;
    border-radius: 10px;
    position: relative;
}

@media(max-width: 768px) {

    .image .image-desktop{
        
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .info{
        max-width: 80%;
        text-align: center;
    }    
}